{% extends "base.html" %}

{% load i18n staticfiles %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'registration/css/base.css' %}" />{% endblock %}

{% block content %}

    <form method="post" action="." class="form-register" role="form">{% csrf_token %}
    	<h2 class="form-register-heading">{% trans "Sign up" %}</h2>
	        {% if form.errors %}
	        	<div class="alert alert-danger">{% trans "Check the red fields." %}</div>  
	        {% endif %}
			<input id="id_username" max_length="30" name="username" type="text" class="form-control {% if form.username.errors %}has-error{% endif %}" placeholder="{% trans "User" %}" value="{{form.username.value|default_if_none:""}}" /> 
			<input id="id_email" max_length="60" name="email" type="text" class="form-control {% if form.email.errors %}has-error{% endif %}"  placeholder="{% trans "Email Address" %}" value="{{form.email.value|default_if_none:""}}" /> 
			<input id="id_password1" max_length="30" name="password1" type="password" class="form-control {% if form.password1.errors %}has-error{% endif %}" placeholder="{% trans "Password" %}" /> 
			<input id="id_password2" max_length="30" name="password2" type="password" class="form-control {% if form.password2.errors %}has-error{% endif %}" placeholder="{% trans "Confirm your password" %}"/> 
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Create an account" %}</button>
    	<br>{% trans "Do you have an account?" %} <a href="{% url 'registration:login' %}">{% trans "Sign in here" %}</a>
    </form>

{% endblock %}